@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RussoOne';
  src: url('fonts/RussoOne-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


body{
  
}


